body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 13px;
}

header {
    background: #fafafa;
    padding: 3px 10px;
    border-bottom: 1px solid #ddd;
    color: #666;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
    display: none; 
}

select {
    color: #666;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 5px center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    padding: 0 3px;
}

select#filter-category {
    width: 170px;
    border-color: #ddd;
    border-radius: 4px;
    height: 30px;
    padding: 0 6px;
    cursor: pointer;
    margin-right: 14px;
}

header span, header label, header input, header select {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 23px;
}

label {
    margin-right: 4px;
}

header span label {
    line-height: 20px;
}

.fa {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-wrap {
    display: inline-block;
    border: 1px solid #ddd;
    background: #fff;
    height: 28px;
    border-radius: 16px;
    margin-right: 14px;
}

#search-icon {
    margin-left: 10px;
    line-height: 25px;
}

#search-icon i {
    font-size: 15px;
}

#search {
    border: 0;
    border-radius: 16px;
    padding: 0 14px 0 2px;
    color: #555;
    width: 165px;
}

#settings i {
    font-size: 18px;
    cursor: pointer;
}

.level-wrap {
    display: inline-block;
    vertical-align: middle;
    height: 21px;
    margin-right: 14px;
}

.level-wrap div {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s;
    border: 2px solid #fafafa;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}

.level-wrap div.active {
    border-radius: 5px 50% 5px 50%;
}

.level-wrap div:nth-child(1) {
    background: #1296db;
}

.level-wrap div:nth-child(2) {
    background: #f80;
}

.level-wrap div:nth-child(3) {
    background: orangered;
}

#record, #clear {
    cursor: pointer;
    font-size: 17px;
}

#record {
    margin-right: 5px;
    display: none;
}

#record.active {
    color: #d30779;
}

#record.active i {
    text-shadow: 0 0 6px #d30779;
}

#split {
    display: inline-block;
    border-right: 1px solid #ccc;
    height: 18px;
    line-height: 16px;
    margin: 0 8px 0 1px;
}

#level {
    border-color: #ddd;
    height: 30px;
    width: 80px;
    margin-right: 10px;
}

input:focus, select:focus {
    outline: none;
}

#scroll {
    margin-left: 8px;
    display: none;
}

#cbScroll {
    margin-top: 0;
}

#logs {
    font-family: Tahoma;
}

ul {
    color: #666;
    list-style: none;
    margin: 40px 0 30px;
    -webkit-padding-start: 0;
}

ul li {
    padding: 5px 0px 5px 8px;
    margin: 3px 0;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 20px;
    word-break: break-all;
    transition: all .4s;
    width: calc(100% - 22px);
    position: relative;
}

/* ul li.no-data {
    text-align: center;
    top: 50%;
    margin-top: -15px;
    position: absolute;
} */

ul li:hover {
    background: #f6f6f6;
    border-left-width: 5px;
}

/* ul li.no-data:hover {
    background: #fff;
} */

ul li a {
    color: #444;
}

ul li a:active, ul li a:focus, ul li a:hover, ul li a:hover {
    color: #444;
}

.fa-info-circle {
    color: #1296db;
}

.fa-warning {
    color: #f80;
}

.fa-times-circle {
    color: orangered;
}

li.info {
    border-left: 3px solid #1296db;
}

.time, .type, .category, .split {
    color: #1296db;
}

li.warn {
    border-left: 3px solid #f80;
}

li.warn .time, li.warn .type, li.warn .category, li.warn .split {
    color: #f80;
}

li.error {
    border-left: 3px solid orangered;
}

li.error .time, li.error .type, li.error .category, li.error .split {
    color: orangered;
    font-weight: bold;
}

footer {
    background: #fafafa;
    padding: 0 10px 1px;
    border-top: 1px solid #ddd;
    color: #666;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 26px;
    line-height: 21px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.fa-heart {
    font-size: 12px;
}

footer .desc {
    font-family: Tahoma;
    line-height: 26px;
}

footer a {
    text-decoration: none;
    color: #666;
}

footer a:active, footer a:hover {
    outline: 0;
    text-decoration: underline;
}

#version-info {
    float: right;
    line-height: 26px;
    padding-right: 20px;
    position: relative;
}

#filter-info, #count-info {
    float: right;
    margin-right: 22px;
    line-height: 30px;
}

#filter-info {
    color: orangered;
    margin-left: -22px;
}

#total-count {
    font-style: normal;
}

#user-name {
    float: right;
    margin-right: 22px;
    line-height: 24px;
}

#noAuth, #successAuth {
    display: none;
}

#checkingAuth div {
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -27px;
    left: 50%;
    margin-left: -30px;
    -webkit-user-select: none;
    user-select: none;
}

#noAuth div {
    position: absolute;
    top: 50%;
    margin-top: -91px;
    left: 50%;
    margin-left: -181px;
    -webkit-user-select: none;
    user-select: none;
    background: url(../image/ipm-logo.png) 0 no-repeat;
    padding-left: 142px;
    color: #555;
}

#checkingAuth h3 {
    font-weight: normal;
    font-size: 16px;
}

#noAuth h3 {
    font-weight: normal;
    font-size: 16px;
}

#noAuth input {
    height: 30px;
    padding: 0 8px;
    width: 188px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}

#noAuth input:focus {
    border-color: #1296db;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(18, 150, 219, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(18, 150, 219, .6);
}

#noAuth button {
    width: 72px;
    height: 34px;
    cursor: pointer;
    background: #1296db;
    border: 0;
    border-radius: 4px;
    color: #fff;
    outline: none;
}

#noAuth button:hover {
    opacity: .8;
}

#errMsg {
    color: orangered;
    display: none; 
    position: absolute;
    margin-left: 15px;
    margin-top: 6px;
}

.copy, .copied {
    position: absolute;
    border: 0;
    outline: none;
    font-size: 12px;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    transition: all .3s cubic-bezier(.02,.01,.47,1);
    transform: rotate(.001deg) translateY(6px);
}

ul li.info .copy, ul li.info .copied {
    background: rgba(18, 150, 219, .2);
    color: #1296db;
}

ul li.warn .copy, ul li.warn .copied {
    background: rgba(255, 136, 0, .2);
    color: #f80;
}

ul li.error .copy, ul li.error .copied {
    background: rgba(255, 69, 0, .2);
    color: orangered;
}

ul li:hover .copy, ul li:hover .copied {
    opacity: .9;
    transition: all .5s cubic-bezier(.02,.01,.47,1);
    transform: rotate(.001deg) translateY(0);
}

.icon-love {
    font-size: 15px;
    color: orangered;
}

.has-update, .has-update a {
    color: orangered;
}

#check-now {
    font-size: 18px;
    color: #1296db;
    cursor: pointer;
    text-decoration: none;
    margin-top: 2px;
    position: absolute;
    right: -3px;
    bottom: 0px;
}

.has-check {
    margin-right: 22px;
}

.has-check i#check-now {
    right: 19px;
}

.custom-control {
    position: relative;
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 10px;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ddd;
}

.custom-control-label::before {
    position: absolute;
    top: 4px;
    left: 1px;
    display: block;
    width: 14px;
    height: 14px;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eceeef;
}

.custom-control-label::after {
    position: absolute;
    top: 4px;
    left: 1px;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #1296db;
    border-color: #1296db;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
}

#no-data {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    top: 50%;
    margin-top: -15px;
    color: #666;
    font-size: 14px;
}