body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 13px;
}

header {
    background: #f8f8f8;
    padding: 0 10px 3px;
    border-bottom: 1px solid #ccc;
    color: #666;
    position: fixed;
    top: 0;
    width: 100%;
    height: 23px;
    line-height: 21px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

header span, header label, header input, header select {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 23px;
}

header span label {
    line-height: 20px;
}

.fa {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#search-icon {
    line-height: 22px;
}

#search {
    border: 1px solid #ccc;
    height: 22px;
    margin-right: 10px;
    padding: 0 3px;
    color: #555;
}

#record, #clear {
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
}

#record {
    margin-right: 5px;
}

#record.active {
    color: #d30779;
}

#record.active i {
    text-shadow: 0 0 6px #d30779;
}

#split {
    display: inline-block;
    border-right: 1px solid #ccc;
    height: 18px;
    line-height: 16px;
    margin: 0 8px 0 -1px;
}

#level {
    border-color: #ccc;
    height: 22px;
    color: #555;
}

input:focus, select:focus {
    outline: none;
}

#scroll {
    margin-left: 8px;
}

#cbScroll {
    margin-top: 0;
}

#logs {
    font-family: Tahoma;
}

ul {
    color: #444;
    list-style: none;
    margin: 30px 0;
    -webkit-padding-start: 0;
}

ul:empty:after {
    content: '   等待接收请求...\A 发起一个请求或按F5刷新页面';
    color: #777;
    font-size: 14px;
    display: block;
    position: absolute;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    top: 50%;
    margin-top: -22px;
    white-space: pre;
    text-align: center;
    line-height: 2;
}

ul li {
    border-bottom: 1px solid #eee;
    padding: 3px 8px;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

ul li a {
    color: #444;
}

ul li a:active, ul li a:focus, ul li a:hover, ul li a:hover {
    color: #444;
}

.fa-info-circle {
    color: DodgerBlue;
}

.fa-warning {
    color: orange;
}

.fa-times-circle {
    color: red;
}

.time, .type, .category, .split {
    color: DodgerBlue;
}

li.warn .time, li.warn .type, li.warn .category, li.warn .split {
    color: orange;
}

li.error .time, li.error .type, li.error .category, li.error .split {
    color: red;
}

footer {
    background: #f8f8f8;
    padding: 0 10px 3px;
    border-top: 1px solid #ccc;
    color: #666;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 23px;
    line-height: 21px;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.fa-heart {
    font-size: 12px;
}

footer .desc {
    font-family: Tahoma;
}

footer a {
    color: #666;
    text-decoration: underline;
}

footer a:active, footer a:hover, footer a:link {
    color: #666;
    outline: 0;
}

#filter-info, #count-info {
    float: right;
    margin-right: 22px;
    line-height: 24px;
}

#filter-info {
    color: #d30775;
    margin-left: -15px;
}

#total-count {
    font-style: normal;
}